@import 'utils/vars';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: $mainColor;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  &--shadow {
    box-shadow: 0px 0px 7px -2px rgb(172, 172, 175);
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  &__caption {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    vertical-align: top;
    padding-bottom: 50px;
  }
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.list {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 0;
  }
  

@import 'components/logo';
@import 'components/header';
@import 'components/footer';
@import 'components/in-progress';
@import 'components/main-banner';
@import 'components/main-about';
@import 'components/main-work';
@import 'components/main-team';
@import 'components/main-clients';
@import 'components/main-modal';
@import 'components/portfolio';
