.footer-wrapper {
    background-color: $backgroundDarkColor;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-columns-items {
    display: flex;
}

.footer-column {
    margin-right: 70px;

    &__title {
            font-weight: 700;
            font-size: 14px;
            font-style: normal;
            line-height: 1.1428;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $whiteColor;
            display: block;
            padding-bottom: 20px;
            padding-top: 12px;
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__list--icons-gap {
    gap: 10px;
    }

    &__social-icons {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        fill: $whiteColor;
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__social-icons:hover,
    &__social-icons:active {
        cursor: pointer;
        background-color: $accentColor;
    }

    &__form-input {
        height: 50px;
        width: 358px;
        margin-right: 12px;
        padding: 15px 16px;
        background-color: $backgroundDarkColor;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        color: $whiteColor;
    }

    &__form-input::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    &__form-btn {
        margin-top: 48px;
        padding: 10px 28px 10px 42px;
        background-color: $accentColor;
        border: none;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        color: $whiteColor;
        letter-spacing: 00.06em;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;

        &:active {
            box-shadow: $activeBtnShadow;
        }
    }

    &__form-btn-icon {
        margin-left: 24px;
        fill: $whiteColor;
    }
}

.address-footer {
    color: $whiteColor;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    vertical-align: top;
    letter-spacing: 0.25px;

    &--margin {
            margin-top: 20px;
    }
    &__link {
        text-decoration: none;
        color: #ffffff99;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover, 
    &__link:focus {
        color: $accentColor;
    }
}


