.site-bar-wrapper {
    background-color: $whiteColor;
    border-bottom: 1px solid #ececec;
}
.site-bar {
    display: flex;
    align-items: center;
}
.main-navigation {
    list-style: none;
    display: flex;
    align-items: center;

    &__link {
            text-decoration: none;
            color: $mainColor;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.5px;
            margin-right: 46px;
            position: relative;
            transition-property: color fill;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    &__link--active::after {
        content: "";
        background-color: $accentColor;
        border-radius: 2px;
        height: 4px;
        position: absolute;
        top: 45px;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &--contact {
        margin-left: auto;
    }

    &__link--contact {
        color: $descriptionColor;
        margin-right: 50px;
        fill: $descriptionColor;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__link[href="kontakt.html"],
    &__link[href="tel:+48111111111"] {
         margin-right: 0;
     }

    &__link:hover,
    &__link:focus {
         color: $accentColor;
         fill: $accentColor;
     }
} 