.in-progress {
    height: calc(100vh - 80px - 241px);
    background-image: url(../images/work-in-progress.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 30vh 30vh;
}