.main-banner {
    background-color: $backgroundDarkColor;
    background-image: linear-gradient(hsla(235, 10%, 21%, 0.4),
            hsla(235, 10%, 21%, 0.4)),
        url(../images/back-ground-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;

    &__caption {
            color: $whiteColor;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            vertical-align: top;
            letter-spacing: 3px;
            padding-bottom: 30px;
    }

    &__button {
        background-color: $accentColor;
        color: $whiteColor;
        border: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        text-align: center;
        cursor: pointer;
        padding: 10px 42px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

        &:active {
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3) inset;
            }
    }
}

